body {
  font-family: Arial;
  background: #f4f6fb;
}

.container {
  display: flex;
  gap: 20px;
  width: 95%;
  margin: auto;
}

.left { width: 70%; }

.right {
  width: 30%;
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.categories a {
  margin-right: 8px;
  padding: 6px 10px;
  background: #eaeaea;
  border-radius: 5px;
  text-decoration: none;
}

.food-card {
  background: white;
  padding: 12px;
  margin-top: 10px;
  border-radius: 6px;
}
